#NEWSLETTER{
background-color:#F1F0EE;
color:#65635D;
font-size:24px;
}

#NEWSLETTER h5{
padding-top:3px;
}

.text-muted{
font-weight: lighter;
}

input#mce-EMAIL{
height:50px;
padding:0px 20px;
border-bottom:1px solid gray;
font-family:Oswald;
font-weight:lighter;
background-color:#E4E3E2;
border:0px solid white;
border-radius:2px;
box-shadow:none;

}

.btn-primary{
padding:0px 20px;
height:50px;
border-radius:2px;
border:0px solid #0000FF;
font-weight:light;
background-color:#65635D;
}

.btn-primary:hover{
background-color:#1742FF;
border:0px solid #1742FF;
}


.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;

}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: color:red;
  background:rgba(0,0,0,.5);
}



.header-content {
	height:130%;
	width:100%;
	padding-top:auto;
    background: rgba(0,0,0,.4);
    //margin-top:300px;
	//margin-left:10px;


            }

 .header-content-inner {
	margin-top: 320px;
		text-align:left;

            }

.header-content-inner h2{
display:inline;
}
.header-content-inner img{
width:100px;
margin-right:20px;
margin-top:-10px;
}


#NEWSLETTER input, #NEWSLETTER h5, #NEWSLETTER .btn-primary{
font-size:16px;
text-transform:NORMAL;
font-weight:bold;
letter-spacing:.06em;
}

#pontos a{

	font-weight: lighter;
}

#mc-embedded-subscribe{
clear: none;
display:inline;
position:relative;
float:none;
}


#mc-embedded-subscribe.btn-primary{
position:relative;
width:40%;
float:left;
}

#mc_embed_signup input{
width:60%;
float:left;
}

.form-group{
margin-left:0px;
}

.container h4{
font-weight:bold;
margin-bottom:25px;
}

.container  a{
border:1px solid #0000FF;
padding:20px;
border-radius:2px;
margin-top:2em;
}

.container  a:hover{
border:1px solid #0000FF;
background-color:#0000FF;
color:white;
text-decoration:none;
}

section{
	background-color: white;
}

section#tagline{
padding:10	0px 0;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
 	width:100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}