body{
	overflow-x:hidden;
}

#NEWSLETTER{
background-color:#F1F0EE;
color:#65635D;
font-size:24px;
}

#NEWSLETTER h5{
padding-top:3px;
}

.text-muted{
font-weight: lighter;
font-size:1.2em;
color:#ABABAB;
margin-bottom: 0px;
}

input#mce-EMAIL{
height:50px;
width:100%;
padding:0px 20px;
border-bottom:1px solid gray;
font-family:Oswald;
font-weight:lighter;
text-align: center;
background-color:#E4E3E2;
border:0px solid white;
border-radius:2px;
box-shadow:none;

}

input#mc-embedded-subscribe.btn-primary{
  width:100%;
  margin-top:10px;
}

.btn-primary{
padding:0px 20px;
height:50px;
border-radius:2px;
border:0px solid #000;
font-weight:light;
background-color:#65635D;
}

.btn-primary:hover{
background-color:#797772;
border:0px solid #000;
}


.header-content {
margin-top:130px;
	text-align:center;

            }
 .header-content{
  text-style:normal;
 }           

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;

}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,.5);
}

.header-content #overlay {
    background-image: url(../img/header-pattern.gif);
    background-repeat: repeat;
    height: 100%;
}





#NEWSLETTER input, #NEWSLETTER h5, #NEWSLETTER .btn-primary{
font-size:16px;
text-transform:NORMAL;
font-weight:normal;
letter-spacing:.06em;
}

#pontos a{

	font-weight: lighter;
}



.container h4{
font-weight:bolder;
font-size: 1.10em;
margin-bottom:25px;
}

.container  a{
border:1px solid #000;
padding:20px;
border-radius:2px;
margin-top:2em;
}

.container  a:hover{
border:1px solid #000;
background-color:#000;
color:white;
text-decoration:none;
}

section{
	background-color: white;
}

section#tagline{
  background-color:#F5f5f5;
  height:auto;
  padding-top:120px;

}

section#tagline h3{
font-size:25px;

}


footer#CONTATO {
  background-color: black;
height:auto;
padding-top:10px;
padding-bottom:100px;
}
footer#CONTATO input{
  width:100%;
}

footer#CONTATO hr{
  border:1px solid white;
}

#CONTATO p{
color:white;
font-style:italic;
font-weight:lighter;
text-align: center;
margin-bottom:0px;
}

#CONTATO .container{
width:100%;
}

#CONTATO h5{
  text-align: center;
  color:white;
margin:100px 0px 50px 0px;
}

#CONTATO .mailto p{
  margin-top: 50px;
  color:#F4F4F4;
}

#CONTATO .mailto a{
  color:#F4F4F4;
  text-decoration: underline;
  border: 0px solid white;
}
#CONTATO .mailto p a:hover{
  color:white;
  text-decoration: underline;
  border: 0px solid white;
  background-color:rgba(0,0,0,0);
}

#feitoemsp{
  margin-top:50px;
  opacity:.4;
}

section#gallery{
height:900px;
  //background-color: red;  
  padding:0px 100px 50px 100px;
  color:white;
  text-align: center;
  font-family: Oswald;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

section#gallery .foto-galeria{
  background-color:blue;
  height:400px;
  line-height: 400px;
  padding-top:auto;
  border:5px solid white;
}
section#gallery #foto-galeria-1{
  background: url("../img/foto-galeria1.png");
  background-size: cover;
}
section#gallery #foto-galeria-2{
  background: url("../img/foto-galeria2.png");
  background-size: cover;
}
section#gallery #foto-galeria-3{
  background: url("../img/foto-galeria3.png");
  background-size: cover;
}
section#gallery #foto-galeria-4{
  background: url("../img/foto-galeria4.png");
  background-size: cover;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
 	width:100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  body{
    background-color: #272822;  
  }
  #overlay{
  display:none;
  }
  header{
  height:auto;
  background-color: #22822;
  }
  header .header-content{
    //height:50px;
    margin-top:100px;
    margin-bottom:100px;
    padding:0px 0px 0px 0px;
    //display:none;
    vertical-align: middle;
  }
    header .header-content img{
   

  }
  .fullscreen-bg {
    height:100px;
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
  #NEWSLETTER{
    padding: 50px 0px;
  }
  #NEWSLETTER h5{
    font-size:20px;
    padding-bottom: 30px;
    margin-top:0px;
  }  

  #NEWSLETTER input, #NEWSLETTER .btn-primary{
    font-size:12px;
  }



  #tagline h3{

      font-size:3em;
  
  }

  .ponto{
    margin-bottom: 80px;
  }

  section#pontos{
    padding-top:100px;
    height:auto;
  }
  #gallery{
    display:none;
  }
}




p{
  color:#e3e3e3;
}





