@font-face {
  font-family: Avenir;
  src: url("../fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: Avenir-bold;
  font-weight: bold;
  src: url("../fonts/AvenirNextLTPro-Demi.otf") format("opentype");
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  font-size: 16px;
  font-size: 100%;
}
body {
  font-family: Times, serif;
  color: #222;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size-adjust: auto;
}
body * {
  box-sizing: border-box;
}
body h1 {
  font-family: Times;
  font-size: 2.5em;
  line-height: 1.5em;
  margin: 0px;
  letter-spacing: 0.1;
}
body h2 {
  font-size: 1.8em;
}
body h3 {
  font-family: 'Avenir-bold';
  font-size: 1em;
  line-height: 1.8em;
}
body img {
  max-width: 100%;
}
body p,
body li {
  font-family: 'Avenir';
  line-height: 1.8em;
  text-align: left;
}
body ul {
  list-style: none;
  padding-left: 1em;
  margin-top: 0px;
}
body ul li {
  line-height: 1.8em;
}
body section {
  padding: 3em;
}
body section h1 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
}
body section h1:before,
body section h1:after {
  content: '';
  display: table;
}
body section h1:after {
  clear: both;
}
body section h1:last-child {
  margin-right: 0%;
}
body section.section-full {
  padding: 0px;
}
body li.selected {
  text-decoration: underline;
}
body .btn-wrapper {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
}
body .btn-wrapper:before,
body .btn-wrapper:after {
  content: '';
  display: table;
}
body .btn-wrapper:after {
  clear: both;
}
body .btn-wrapper:last-child {
  margin-right: 0%;
}
body .btn-wrapper p,
body .btn-wrapper h3 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  padding: 1em;
}
body .btn-wrapper p:before,
body .btn-wrapper h3:before,
body .btn-wrapper p:after,
body .btn-wrapper h3:after {
  content: '';
  display: table;
}
body .btn-wrapper p:after,
body .btn-wrapper h3:after {
  clear: both;
}
body .btn-wrapper p:last-child,
body .btn-wrapper h3:last-child {
  margin-right: 0%;
}
body .btn-wrapper .btn {
  cursor: pointer;
  box-sizing: border-box;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  margin: 0 auto;
  margin-top: 4em;
  display: inline-block;
  font-family: Avenir-bold;
  padding: 1em;
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
}
body .btn-wrapper .btn:before,
body .btn-wrapper .btn:after {
  content: '';
  display: table;
}
body .btn-wrapper .btn:after {
  clear: both;
}
body .btn-wrapper .btn:last-child {
  margin-right: 0%;
}
body .btn-wrapper .btn.btn-outline {
  border: 3px solid #000;
  color: #000;
}
body .btn-wrapper .btn.btn-outline:hover {
  background-color: #000;
  color: #fff;
}
body .btn-wrapper .btn.btn-outline.btn-white {
  border: 3px solid #fff;
  color: #fff;
}
body .btn-wrapper .btn.btn-outline.btn-white:hover {
  background-color: #fff;
  color: #000;
}
.full-wrapper .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40em;
  background-color: #f3f3f3;
  background-image: url("../img/fundo-hero.jpg");
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
}
.outer-wrapper {
  *zoom: 1;
  width: auto;
  max-width: 95%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding: 8em;
  padding-top: 4.5em;
  height: 25em;
}
.outer-wrapper:before,
.outer-wrapper:after {
  content: '';
  display: table;
}
.outer-wrapper:after {
  clear: both;
}
.outer-wrapper .logo {
  position: fixed;
  z-index: 10;
  top: 5em;
  text-align: left !important;
}
.outer-wrapper .logo img {
  height: 6em;
  width: 6em;
}
.outer-wrapper .logo .menu {
  margin-top: 2em;
  display: none;
  overflow: hidden;
}
.outer-wrapper .logo .menu ul li {
  text-align: left !important;
}
.inner-wrapper {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 74.25%;
  margin-left: 25.75%;
  margin-right: 3%;
}
.inner-wrapper h1.tagline {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 82.83333333333334%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  line-height: 1.1em;
  text-align: left !important;
  font-size: 4em;
}
.inner-wrapper h1.tagline:before,
.inner-wrapper h1.tagline:after {
  content: '';
  display: table;
}
.inner-wrapper h1.tagline:after {
  clear: both;
}
.inner-wrapper h1.tagline:last-child {
  margin-right: 0%;
}
.inner-wrapper h3.lancamento-tagline {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 82.83333333333334%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  line-height: 1.1em;
  text-align: left !important;
  margin-top: 3em;
}
.inner-wrapper h3.lancamento-tagline:before,
.inner-wrapper h3.lancamento-tagline:after {
  content: '';
  display: table;
}
.inner-wrapper h3.lancamento-tagline:after {
  clear: both;
}
.inner-wrapper h3.lancamento-tagline:last-child {
  margin-right: 0%;
}
.inner-wrapper:before,
.inner-wrapper:after {
  content: '';
  display: table;
}
.inner-wrapper:after {
  clear: both;
}
.inner-wrapper:last-child {
  margin-right: 0%;
}
.inner-wrapper section {
  display: inline-block;
  margin-top: 5em;
}
.inner-wrapper section.section-white {
  color: #fff;
}
.inner-wrapper .first-section {
  margin-top: 18em;
}
section.lancamento {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  background-color: #f3f3f3;
}
section.lancamento:before,
section.lancamento:after {
  content: '';
  display: table;
}
section.lancamento:after {
  clear: both;
}
section.lancamento:last-child {
  margin-right: 0%;
}
section.lancamento h1 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  margin-bottom: 1em;
}
section.lancamento h1:before,
section.lancamento h1:after {
  content: '';
  display: table;
}
section.lancamento h1:after {
  clear: both;
}
section.lancamento h1:last-child {
  margin-right: 0%;
}
.principios {
  background-color: #e0eff1;
}
.principios span {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333333333333%;
  margin-left: 0%;
  margin-right: 3%;
}
.principios span:before,
.principios span:after {
  content: '';
  display: table;
}
.principios span:after {
  clear: both;
}
.principios span:last-child {
  margin-right: 0%;
}
.principios h1 {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  margin-bottom: 1em;
  margin-top: 0px;
}
.principios h1:before,
.principios h1:after {
  content: '';
  display: table;
}
.principios h1:after {
  clear: both;
}
.principios h1:last-child {
  margin-right: 0%;
}
section.designers {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  padding: 0px;
}
section.designers:before,
section.designers:after {
  content: '';
  display: table;
}
section.designers:after {
  clear: both;
}
section.designers:last-child {
  margin-right: 0%;
}
section.designers h1 {
  margin-bottom: 1em;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
}
section.designers h1:before,
section.designers h1:after {
  content: '';
  display: table;
}
section.designers h1:after {
  clear: both;
}
section.designers h1:last-child {
  margin-right: 0%;
}
section.designers .designer-profile {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
  background-color: #e0eff1;
  margin-top: 3em;
}
section.designers .designer-profile p {
  text-align: left !important;
}
section.designers .designer-profile h1 {
  font-size: 1.8em;
  text-align: left !important;
}
section.designers .designer-profile:before,
section.designers .designer-profile:after {
  content: '';
  display: table;
}
section.designers .designer-profile:after {
  clear: both;
}
section.designers .designer-profile:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
section.designers .designer-profile:nth-child(2n+1) {
  clear: both;
}
section.designers .designer-profile .padding {
  margin: 3em;
}
section.designers .designer-profile .foto-profile {
  position: absolute;
  top: -5em;
}
section.designers .designer-profile .foto-profile img {
  width: 5em;
  mix-blend-mode: multiply;
}
section.designers .designer-profile .top-profile {
  position: relative;
  min-height: 9em;
}
section.designers .designer-profile .nome-profile {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  margin-top: 2em;
}
section.designers .designer-profile .nome-profile:before,
section.designers .designer-profile .nome-profile:after {
  content: '';
  display: table;
}
section.designers .designer-profile .nome-profile:after {
  clear: both;
}
section.designers .designer-profile .nome-profile:last-child {
  margin-right: 0%;
}
section.designers .designer-profile .foto-produto-profile {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333333333333%;
  margin-left: 0%;
  margin-right: 3%;
  position: absolute;
  right: 0;
  top: -2em;
}
section.designers .designer-profile .foto-produto-profile:before,
section.designers .designer-profile .foto-produto-profile:after {
  content: '';
  display: table;
}
section.designers .designer-profile .foto-produto-profile:after {
  clear: both;
}
section.designers .designer-profile .foto-produto-profile:last-child {
  margin-right: 0%;
}
section.designers .designer-profile .foto-produto-profile img {
  height: 10em;
  mix-blend-mode: multiply;
}
section.fabrica {
  background-image: url("../img/fabrica.png");
  background-size: cover;
}
section.fabrica span {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
section.fabrica span:before,
section.fabrica span:after {
  content: '';
  display: table;
}
section.fabrica span:after {
  clear: both;
}
section.fabrica span:last-child {
  margin-right: 0%;
}
section.fabrica h1 {
  margin-bottom: 1em;
}
section.instagram h1 {
  margin-bottom: 2em;
}
section.instagram li {
  box-sizing: border-box;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
  list-style-type: none;
  height: auto;
  padding: 0.1em;
}
section.instagram li:before,
section.instagram li:after {
  content: '';
  display: table;
}
section.instagram li:after {
  clear: both;
}
section.instagram li:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
section.instagram li:nth-child(2n+1) {
  clear: both;
}
section.instagram ul li {
  list-style-type: none;
}
.signup {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: #e0eff1;
  opacity: 1;
}
.signup h1 {
  font-size: 2em;
}
.signup .signup-inner {
  position: relative;
  width: 30em;
  margin: 3em auto;
}
.signup .signup-inner .fechar {
  position: absolute;
  top: 1em;
  right: -10em;
}
.signup input,
.signup-contato input {
  border: 0px solid #fff !important;
  color: #000;
  padding: 0px !important;
  height: 4em;
}
.signup form,
.signup-contato form {
  margin: 0px !important;
  padding: 0px !important;
  margin-top: 1em !important;
}
.signup #mc_embed_signup,
.signup-contato #mc_embed_signup {
  background-color: rgba(0,0,0,0);
  padding: 0;
  margin: 0;
  font-family: Avenir !important;
}
.signup #mc_embed_signup input,
.signup-contato #mc_embed_signup input {
  height: 4em;
}
.signup #mc_embed_signup .button,
.signup-contato #mc_embed_signup .button {
  border: 3px solid #000 !important;
  width: 96%;
  background-color: rgba(0,0,0,0);
  border-radius: 0px;
  color: #000;
}
.signup #mc_embed_signup .button:hover,
.signup-contato #mc_embed_signup .button:hover {
  background-color: #000;
  color: #fff;
}
.signup-contato #mc_embed_signup input {
  height: 4em;
  background-color: #fff;
}

 /*# sourceMappingURL=master.css.map */